@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.cdnfonts.com/css/sweet-sans-pro");

* {
  font-family: "Sweet Sans Pro", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

h2 {
  color: #004e70;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
}

h3 {
  font-size: 18px;
}

div {
  p {
    font-size: 15px;
    line-height: 1.5rem;
  }
  i {
    span {
      font-weight: 200;
    }
  }
}
/* Hero-section */
.hero-text {
  font-weight: 700;
  width: 100%;
  line-height: 2rem;
}

.imgSection:hover {
  transform: scale(1.1);
}

.imgWrapper {
  overflow: hidden;
  width: 100%;
}

.imgSection {
  transition: transform 0.3s ease-in-out;
}

.imageLeft {
  order: 2;
}

.buttonRounded {
  padding: 20px 30px;
  border: 2px solid #004e70;
  border-radius: 100px;
}

.destination-content {
  p {
    &::before {
      content: "✓";
      top: 2px;
      background-color: #052f63;
      color: white;
      padding: 2px 6px;
      border-radius: 100%;
      font-size: 10px;
      margin-right: 10px;
    }
  }
}

.terms-content {
  ul {
    list-style-type: disc;
    padding-left: 20px;
  }
}

/* Footer */
footer {
  background-color: #004e70;
  color: white;
  display: flex;

  width: 100%;
}

@media screen and (min-width: 1020px) {
  .hero-text {
    font-weight: 700;
    width: 40%;
    line-height: 2rem;
    text-align: center;
    justify-content: flex-start;
  }
}
